* {
    margin: 0;
    padding: 0;
    /* transition: all .1s ease-in; */
}

h1 {
    padding: 19px 0 4px;
}

h2 {
    padding-bottom: 12px;
}

body {
    background: #3B3F45;
}

ul {
    list-style: none;
}

header {
    background: #4A4F56;
    color: #FF8984;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 535px;
    margin: 0 auto 45px;
    font-size: 18px;
}

.list-section {
    background: #3B3F45;
}

li {
    height: 45px;
    color: #FFFFFF;
}

li:nth-child(odd) {
    background: #88839E;
}

li:nth-child(even) {
    background: #7A7593;
}

li:first-child::after {
    content: " (for the next lessons about CSS)";
    font-size: 11px;
}

li:nth-child(2)::after {
    content: " (for more CSS manipulations)";
    font-size: 11px;
}

li:nth-child(3)::after {
    content: " (because they are awesome)";
    font-size: 11px;
}

li:nth-child(4)::after {
    content: " (hm... they always dissapear)";
    font-size: 11px;
}

li:last-child::after {
    content: " (for my friends)";
    font-size: 11px;
}

li:hover {
    background: #625E77;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.button {
    display: block;
    width: 100%;
    max-width: 535px;
    height: 45px;
    margin: 0 auto;
    background: #4A4F56;
    color: #FF8984;
    text-align: center;
}
