* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    font-size: 36px;
}

a {
    color: black;
    text-decoration: none;

}

.nav-links {
    font-size: 20px;
    line-height: 23px;
}

sup {
    font-size: 18px;
}

h1, h2, h3, h4 {
    font-size: 36px;
    padding-bottom: 70px;
}

li {
    padding-bottom: 70px;
}

ul {
    list-style: none;
}

header {
    padding-top: 12px;
    margin: 0 40px 80px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    padding: 0 24px 50px 50px;
}

.logo-holder {
    margin-left: auto;
    width: 100%;
    max-width: 243px;
}

main p {
    padding-bottom: 70px;
}
.grey-text {
    background-color: lightgray;
 }

.language-link {
    margin-right: 42px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-shadow: 
        -0 -1px 0   #000000,
        0   -1px 0   #000000,
        -0    1px 0   #000000,
        0    1px 0   #000000,
        -1px -0   0   #000000,
        1px -0   0   #000000,
        -1px  0   0   #000000,
        1px  0   0   #000000,
        -1px -1px 0   #000000,
        1px -1px 0   #000000,
        -1px  1px 0   #000000,
        1px  1px 0   #000000,
        -1px -1px 0   #000000,
        1px -1px 0   #000000,
        -1px  1px 0   #000000,
        1px  1px 0   #000000;
}