* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
}

input, select {
    display: block;
}

a {
    text-decoration: none;
}

.container__header {
    color: #1C1C1C;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
}

.container__header_bold {
    font-weight: bold;
}

.container {
    width: 100%;
    max-width: 540px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 6px;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-flex_start {
    justify-content: flex-start;
}

.form__input-block{
    margin-bottom: 20px;
}

.form__input {
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    font-size: 15px;
    line-height: 22px;
    padding-left: 10px;
}

.form__input_text-big {
    width: 500px;
    margin-bottom: 7px;
}

.form__radiobutton {
    display: none;
}

.form__radiolabel {
    position: relative;
    margin: 0 20px 0 28px;
}

.form__radiolabel::before {
    content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	left: -25px;
	bottom: 0;
	background: url(../img/off.svg) 0 0 no-repeat;
    cursor: pointer;
}

.form__radiobutton:checked + label:before {
	background: url(../img/on.svg) 0 0 no-repeat;
}

.form__radiolabel:hover:before {
	filter: brightness(130%);
    transition: ease-in-out 0.3s;
}

.form__input-select {
    background: url("../img/select.svg") no-repeat;
    background-position: 220px 11px;
    -webkit-appearance: none;
    cursor: pointer;
}

.form__select-placeholder {
    color: #545454;
}

.form__tipp-text {
    display: block;
    margin-bottom: 7px;
}

.form__tipp-text_small {
    display: block;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.form__button {
    display: block;
    max-width: 480px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #545454;
    padding: 8px 10px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
}

.form__button_little {
    max-width: 130px;
}

.form__button_tiny {
    width: 30px;
    height: 30px;
    background: url("../img/trash.svg") no-repeat;
    background-position: 7px 7px;
}

.form__button:hover {
    background-color: #ddf2fa;
    transition: ease-in-out 0.3s;
}

.form__textholder {
    text-align: center;
}

.form__textholder:last-child {
    padding: 20px 0 10px;
    border-top: 1px solid #E4E4E4;
}

.form__link {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #007BFF;
}

.form__link_big {
    font-size: 15px;
    line-height: 22px;
}

.form__input:focus {  
    outline: none;  
    border: 1px solid #007BFF;
}

.form__input:hover {  
    outline: none;  
    border: 1px solid #007BFF;
    transition: ease-in-out 0.3s;
}

.form__input_file {
    display: inline-block;
    width: 138px;
    height: 30px;
    margin: 0 10px 7px 0;
    padding: 6px 10px;
    font-size: 13px;
    line-height: 18px;
    background: url("../img/camera.svg") no-repeat;
    background-position: 114px 7px;
    cursor: pointer;
}

.form__input_hidden {
    display: none;
}

.form__img-holder {
    margin-right: 20px;
}

