@import 'mixins';
@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: $back-color;
    margin: 0;
    padding: 0;
    color: $grey;
    font-size: 11px;
    font-family: 'Old Standard TT', serif;
}


h1 {
    padding: 0;
    margin: 0;
    font-weight: 400;
}


a {
    text-decoration: none;
    color: $orange;
}

img {
    width: 100%;
    display: block;
}

ul {
    padding: 0;
    list-style: none;
}

.header {
    padding: 14px 0;

    &__logo-holder {
        width: 100%;
        max-width: 75px;
        margin-right: 40px;
        padding-bottom: 5px;
    }
}

.text-holder {
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;

    &_flex {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__link-holder {
        padding-right: 40px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__link {
        text-transform: uppercase;
        color: $grey;

        &_active {
            color: $orange;
        }
    }

    &__button {
        padding: 15px 25px;
        text-transform: uppercase;
        border: 1px solid #FFAE2B;

    }
}

.view {
    height: 602px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &__subtitle {
        display: block;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: $orange;
        margin-bottom: 15px;
    }

    &__title {
        font-size: 70px;
        line-height: 80px;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-bottom: 55px;
    }

    &__button {
        padding: 20px 28px;
        background-color: $orange;
        color: $back-color;
        line-height: 22px;
        text-transform: uppercase;
    }

    .text-holder {
        max-width: 880px;
        padding: 120px 0 200px;
    }
}

.subtitle {
}

.pages {

    &__subtitle {
        display: block;
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ACA592;
        margin-bottom: 10px;
    }

    &__title {
        font-size: 60px;
        line-height: 70px;
        color: #FFAE2B;
    }

    .text-holder {
        padding: 120px 0 50px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px 120px;

    &__item {
        width: calc((100% / 3) - 20px);
        margin: 10px;
        padding: 41px;
        border: 1px solid #4B4136;
        transition: all ease-in-out 0.3s;

        &:hover {
            transition: all ease-in-out 0.2s;
            padding: 3px;
        }

        .cards__img-holder {
            box-shadow: 0px 8px 24px #00000099;
        }
    }

    &__service {
        width: calc(100% / 3);
        padding: 61px;
        border: 1px solid #4B4136;

        .cards__img-holder {
            width: 60px;
        }
    }

    &__img-holder {
        margin-bottom: 20px;
    }

    &__title {
        display: block;
        font-size: 13px;
        line-height: 23px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
    }

    &__name {
        display: block;
        font-size: 29px;
        line-height: 40px;
        color: #FFAE2B;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 26px;
        color: #ACA592;
        margin-bottom: 5px;

        &_small {
            font-size: 11px;
            margin-bottom: 0;
        }
    }
}

.python {
    height: 465px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.services {

    &__subtitle {
        font-size: 12px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ACA592;
    }

    &__title {
        font-size: 60px;
        line-height: 70px;
        color: #FFAE2B;
    }

    .text-holder {
        padding: 120px 0 60px;
    }
}

.instagram {

    &__img-holder {
        position: relative;
        display: inline-block;
        width: calc(50% - 2px);
    }

    &__img-item {
        width: 36%;
    }

    &__follow-item {
        position: relative;
        padding-bottom: 14px;
        text-align: center;
    }

    &__title {
        font-size: 40px;
        line-height: 50px;
        color: #FFAE2B;
        margin-bottom: 40px;
    }

    &__button {
        padding: 20px 28px;
        background-color: $orange;
        color: $back-color;
        line-height: 22px;
        text-transform: uppercase;
    }

    &__logo {
        width: calc(100% - 30px);
        position: absolute;
        top: -25px;
        left: 15px;
        z-index: -1;
    }

    &__pic {
        width: 23%;
        position: absolute;
        top: -25px;
        left: 38%;
    }
}

.footer {

    &__title {
        font-size: 60px;
        line-height: 70px;
        color: #FFAE2B;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-size: 12px;
        line-height: 28px;
        color: #ACA592;
    }

    &__input {
        background-color: #181511;
        display: block;
        width: 418px;
        height: 58px;
        margin: 0 auto;
        border: 1px solid #4B4136;
    }

    &__button {
        font-family: 'Old Standard TT', serif;
        background-color: $orange;
        padding: 14px 0;
        text-transform: uppercase;
        display: block;
        width: 420px;
        margin: 0 auto 32px;
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        width: 411px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    &__social {
        padding: 24px 0 43px;
        text-align: center;
    }

    &__social-item {
        display: inline-block;
        border: 1px solid #4B4136;
        margin: 0 4px;
        padding: 14px;

        svg {
            fill: #fff;
        }

        &:hover {
            svg {
                fill: #FFAE2B;
            }
        }
    }

    &__bottom-list {
        display: flex;
        flex-wrap: wrap;
    }

    &__bottom-list-item {
        display: block;
        position: relative;
        margin-left: 12px;

        &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 12px;
            top: 0;
            right: 0;
            color: #4B4136;
        }
    }

    .text-holder {
        padding: 146px 0 82px;
        width: 600px;
        margin: 0 auto;
    }

    .container {
        border-bottom: 1px solid #4B4136;
    }
}
