* {
    padding: 0;
    margin: 0;
}

.about-me-section {
    background-color: #F6F6F6;
    margin: 100px 0;
    padding: 100px 0;
}

h2 {
    margin-bottom: 28px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.about-me {
    margin: 0 auto ;
    width: 100%;
    max-width: 480px;
    text-align: center;
    font-size: 18px;
}

.about-me-text {
    margin-bottom: 50px;
}