* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(217, 255, 217);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

.list {
    width: calc(100% / 3);
}

.open {
    width: calc(100% / 3);
    padding: 0 15px;
}

.btn {
    min-width: 120px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-transform: uppercase; 
    font-weight: 600;  
    font-size: 20px;
    transition: 0.5s;
    border: 5px solid #2ecc71; 
    color: #2ecc71;

    &:hover {
        background-color: darken(#2ecc71, 5%);
        border: 5px solid lighten(#2ecc71, 5%);
        color: #ecf0f1;
        cursor: pointer;
    }
    &_open {
        margin: 0 0 20px 15px;
    }
}

.modal {
    border: darkgreen solid 2px;
    border-radius: 10px;
    padding: 15px;
    opacity: 0;
    transition: ease-in-out all 0.15s;
}

.traffic {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

		&__body {
            background-color: #000;
            padding: 20px;
            border-radius: 20px;
            margin-right: 50px;
		}

		&__color {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            margin-bottom: 10px;
            opacity: 0.5;
            transition: ease-in-out all 0.15s;

			&_red {
                background-color: #ff2222;
			}

			&_yellow {
                background-color: #ffff2a;
			}

			&_green {
                background-color: #66ff00;
			}
		}

        .active {
            opacity: 1;
        }
}
