* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #544837;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

h1 {
    font-size: 36px;
    line-height: 54px;
    color: #2F281E;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 20px;
}

.container {
    max-width: 1125px;
    width: 100%;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.design-tools .container-flex {
    margin-bottom: 34px;
}

.container-flex__item {
    max-width: 240px;
    width: 100%;
}
.container-flex__img-holder {
    max-width: 50px;
    width: 100%;
    margin-bottom: 30px;
}

.container-flex__text-holder strong{
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2F281E;
    margin-bottom: 13px;
}


.button {
    display: inline-block;
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.button:hover {
    background-color: #ff5d2c;
    transition: ease-in-out 0.3s;
}

.button_nav-orange {
    padding: 11px 25px;
    margin: 15px;
    font-weight: 600;
}

.button_nav-white {
    color: #173A56;
    border: 1px solid #BCD0E5;
    background-color: #fff;
    padding: 11px 25px;
    margin: 15px 0 15px 30px;
    font-weight: 600;
}

.button_nav-white:hover {
    background-color: #b7daff;
}

.text-block_button {
    padding: 15px 40px;
    margin-right: 56px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav__item {
    font-size: 14px;
    line-height: 28px;
    margin-right: 25px;
}

.nav__item a {
    color: #2F281E;
}

.nav__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-block {
    width: 50%;
}

.design-thinking {
    margin-bottom: 111px;
}

.text-block {
    max-width: 486px;
    width: 50%;
}

.text-block__title-holder {
    margin-bottom: 30px;
}

.text-block__subtitle {
    margin-bottom: 3px;
}

.text-block__title {
    font-size: 36px;
}

.text-block__title_big {
    font-size: 44px;
}

.text-block__text-holder p {
    margin-bottom: 30px;
}

.text-block__text-holder strong {
    margin-bottom: 12px;
    color: #2F281E;
}

.text-block__text-holder_big {
    font-size: 18px;
    margin-bottom: 45px;
}

.text-block__link-holder {
    position: relative;
}

.text-block__link-item {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
}

.text-block__link-item::before {
    position: absolute;
    top: 18px;
    left: 210px;
    content: "";
    border-style: solid;
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent #FF9900;
}


.text-block__link-item:hover {
    background-color: #ff5d2c;
    transition: ease-in-out 0.3s;
}



.text-block__list-item{
    position: relative;
    padding-left: 65px;
    margin-bottom: 30px;
}

.text-block__list-text::before{
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 14px;
    background-color: #FF9900;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.text-block__list-text::after {
    content: "";
    position: absolute;
    top: 35%;
    left: 8px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    width: 17px;
    height: 8px;
    transform: rotate(-45deg);
}

.design-tools {
    margin-bottom: 210px;
}

.design-tools__title-holder {
    max-width: 540px;
    margin: 0 auto 54px;
    text-align: center;
}

.design-tools__button-holder {
    text-align: center;
}
.design-tools__button {
    padding: 15px 33px;
}

.design-professionals {
    margin-bottom: 100px;
}

.product-managers {
    margin-bottom: 105px;
}

.marketers {
    margin-bottom: 145px;
}

.footer .container{
    padding-top: 100px;
    border-top: 1px solid #bcd0e57f;
}

.footer .container-flex {
    align-items: start;
}

.footer__text-holder {
    font-size: 20px;
    line-height: 30px;
    color: #2F281E;
    margin-bottom: 35px;
    max-width: 280px;
}

.footer__list-item {
    margin-bottom: 12px;
}

.footer__link {
    color: #544837;
}

.footer__input {
    max-width: 325px;
    width: 100%;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 15px;
}

.footer__button {
    padding: 8px 15px;
}